@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MajorMonoDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
  }
}
